# Ignore everything
*

# Exclude only the apps/web-client/src folder
!apps/web-client/src

# Ensure everything within the apps/web-client/src folder is not ignored
!apps/web-client/src/**
!apps/web-client/server/**
!apps/web-client/project.json
!apps/web-client/webpack.config.cjs
!apps/web-client/.env
!apps/web-client/.env.example
!apps/web-client/.babelrc
!apps/web-client/tsconfig.app.json
!apps/web-client/tsconfig.json

!libs/xstate/**

!.npmrc
!package.json
!pnpm-lock.yaml
!nx.json
!project.json
!babel.config.js
!tsconfig.base.json