version: 0.1
projects:
{{- $envs := list "ply-dev" }}
{{- range $project := matchPaths "apps/terraform/:app/src" }}
    {{- range $env := $envs}}
    - path: {{ $project._path }}
      name: {{ $project.app }}-{{ $env }}
      usage_file: {{ $project._path }}/infracost-usage.yml
    {{- end }}
{{- end }}