environments:
  development: {}
  default: {}
---
repositories:
- name: nginx-stable
  url: https://helm.nginx.com/stable

releases:
- name: nginx-ingress
  namespace: nginx
  chart: nginx-stable/nginx-ingress
  version: 1.3.2
  installed: {{ eq .Environment.Name "default" | not | toYaml }}
  labels:
    type: remote
  values:
    - rbac:
        create: true
      controller:
        watchNamespace: "nginx,web,tyk"

