environments:
  default: {}
  development: {}
---
releases:
- name: web-secrets
  namespace: web
  chart: ../charts/secret
  installed: {{ eq .Environment.Name "default" | not | toYaml }}
  labels:
    type: secret
  values: 
  - secret/{{ .Environment.Name }}_values.yaml
  - secret/values.yaml

- name: web-deployment
  namespace: web
  chart: ../charts/deployment
  installed: true
  values:
  - secret/{{ .Environment.Name }}_values.yaml
  - deployment/values.yaml

